@model TP2_Skyrim.Models.Enfant

<div>
    <h4>Enfant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnfantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnfantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbrCompetences)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbrCompetences)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilGen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilGen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeAbilite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeAbilite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NiveauDeRecommendation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NiveauDeRecommendation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficulté)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulté)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image1Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image1Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image2SS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image2SS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image3Art)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image3Art)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vedette)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vedette)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
