
@model Enfant
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}


<main class="container grandContainer mw-50 "
      style="background-color: rgba(0,0,0,.7); margin-bottom: 50px; ">
      <link rel="stylesheet" href="~/css/sylesMAIN.css">
    <!--Fond sujets principaux-->
    @{
        String nomParent = "";
        if (@Model.ParentId == 1) { nomParent = "Mage"; }
        else if (@Model.ParentId == 2) { nomParent = "Guerrier"; }
        else if (@Model.ParentId == 3) { nomParent = "Voleur"; }
        else { nomParent = "Classe non trouvée"; }

    }

  

    <div class="container  " style="border: 50px; border-color: brown;">

        <h1>Détails de l'habileté</h1>
        <div class="row colonnes ligne overflow-hidden   ">
            <div class="col-md-7 col-lg-5 col-xl-4 detailBG">



                <div id="carouselExample" class="carousel slide  " style="border: 2px; height: 100%; width: 100%;">
                    <div class="carousel-inner">

                        <div class="carousel-item active" style=" ">
                            <div class="d-flex justify-content-center w-100">
                                <img src="@Model.Image1Logo" class=""
                                     style="height:400px; text-align: center;" alt="...">
                            </div>
                        </div>

                        <div class="carousel-item " style=" ">
                            <div class="d-flex justify-content-center w-100">
                                <img src="@Model.Image2SS" class="detailImage"
                                     style="height:400px; text-align: center; border-radius: 10px;"
                                     alt="Image du crochetage dans le jeu">
                            </div>
                        </div>
                        <div class="carousel-item " style=" ">
                            <div class="d-flex justify-content-center w-100">
                                <img src="@Model.Image3Art" class="detailImage"
                                     style="height:400px; text-align: center; border-radius: 10px;"
                                     alt="Un argonien qui crochette une porte">
                            </div>
                        </div>


                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>


            </div>
            <div class="col-auto d-md-none d-lg-block colonnes texte h-100 ">
                <p>Nom de L'habileté:</p>
                <p>Classe:</p>
                <p>Type d'habileté:</p>
                <p>Nombre de compétences:</p>
                <p>Utilitée générale:</p>
                <p>Niveau de recommendation:</p>
                <p>Difficulté:</p>
            </div>

            @if (nomParent == "Mage")
            {
                <div class="col-auto d-md-none d-lg-block colonnes texte h-100 mageText">
                <p>@Model.Nom</p> <!--Donner un input à ces dudes là-->
                <p>@nomParent</p>
                <p>@Model.TypeAbilite</p>
                <p>@Model.NbrCompetences Compétences</p>
                <p>@Model.UtilGen</p>
                <p>@Model.NiveauDeRecommendation/10</p>
                <p>@Model.Difficulté/10</p>


                </div>
            }
            else if (nomParent=="Guerrier")
            {
                <div class="col-auto d-md-none d-lg-block colonnes texte h-100 warriorText">
                <p>@Model.Nom</p> <!--Donner un input à ces dudes là-->
                <p>@nomParent</p>
                <p>@Model.TypeAbilite</p>
                <p>@Model.NbrCompetences Compétences</p>
                <p>@Model.UtilGen</p>
                <p>@Model.NiveauDeRecommendation/10</p>
                <p>@Model.Difficulté/10</p>


                </div>
            }
            else if (nomParent=="Voleur")
            {
                <div class="col-auto d-md-none d-lg-block colonnes texte h-100 thiefText">
                <p>@Model.Nom</p> <!--Donner un input à ces dudes là-->
                <p>@nomParent</p>
                <p>@Model.TypeAbilite</p>
                <p>@Model.NbrCompetences Compétences</p>
                <p>@Model.UtilGen</p>
                <p>@Model.NiveauDeRecommendation/10</p>
                <p>@Model.Difficulté/10</p>


                </div>
            }
            

            <div class="col-auto d-block d-lg-none colonnes texte h-100 " style="font-size: 120% ">
                <p>Nom de L'habileté:</p>
                <p class="thiefText">Crochetage</p>
                <p>Classe:</p>
                <p class="thiefText">Voleur</p>
                <p>Type d'habileté:</p>
                <p class="thiefText">Utilité</p>
                <p>Nombre de compétences:</p>
                <p class="thiefText">11 compétences</p>
                <p>Utilitée générale:</p>
                <p class="thiefText">Utile pour tous</p>
            </div>


            <div class="col-auto d-block d-lg-none colonnes texte h-100  thiefText">
                <!--Donner un input à ces dudes là-->







            </div>




        </div>
        <div class="row colonnes" style="width: 200px;">
            <form asp-action="AjouterUnEnfant"  asp-controller="Favoris" method="POST">
                <input type="hidden" value="@Model.EnfantId" name="id">
                
                <button type="submit" style="background-color: cornflowerblue; color: white; font-size: xx-large;">
                    Favoris +
                </button>
            </form>



        </div>
        <h3>Description</h3>
        <p style="height: 50ch; width:100%; font-size:125%; overflow:auto">@Model.Description @Model.Description @Model.Description</p>
    </div>


</main>