


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";

}

<link rel="stylesheet" href="/css/stylesRecherche.css">
<main class="coalign-contentgrandContainer mw-50 overflow-hidden" style="background-color: rgba(0,0,0,.7); ">


    <h1>Les Classes</h1> <!--Titre Principal-->
    <div class="row">




        <div class="col-md-9 overflow-hidden align-self-start" style="border: 50px; background-color: rgba(2, 3, 5, 0.507);">

            @{
                int orange2 = 0;
                List<Enfant> enfants = new List<Enfant>();

                foreach (Enfant ef in Model.Resultat)
                {
                    enfants.Add(ef);
                }
            }

            @if (enfants.Count() == 0)
            {
                <div class="text-center align-items-center" style="vertical-align:middle">
                <h2>Aucune habileté correspond à votre recherche.</h2>
                <h2>Veuillez réessayer.</h2>
                </div>
            }

            @for (int i = 0; i < enfants.Count(); i++)
            {
                if (i % 3 == 0)
                    {
                        @:<div class="row">
                    }
                if (enfants[i].Parent.Nom=="Le Mage")
                {
                    <div class="col-md mainSubject p-2 mage" >
                        <a href="/Enfant/Detail/@enfants[i].EnfantId">
                            <h1 style="margin-left: 22px; ">@enfants[i].Nom</h1>
                            <h4 style="margin-left: 23px; color:white;">@enfants[i].NbrCompetences Compétences</h4>
                            <div class="img-text-container">
                                <img src="@enfants[i].ImageURL" alt="@enfants[i].Nom"
                                 class="col mainImages mageImg" style="width: 90%;">
                            </div>
                        </a> <!--MAGE-->
                    </div>
                   
                }
                else if (enfants[i].Parent.Nom=="Le Guerrier")
                {
                    
                    <div class="col-md mainSubject p-2 guerrier">
                        <a href="/Enfant/Detail/@enfants[i].EnfantId">
                            <h1 style="margin-left: 22px;">@enfants[i].Nom</h1>
                            <h4 style="margin-left: 23px; color:white;">@enfants[i].NbrCompetences Compétences</h4>
                            <div class="img-text-container">
                                <img src="@enfants[i].ImageURL" alt="@enfants[i].Nom"
                                 class="col mainImages guerrierImg" style="width: 90%;">
                            </div>
                        </a> <!--MAGE-->
                    </div>
                   
                }
                else if (enfants[i].Parent.Nom=="Le Voleur")
                {
                    
                    <div class="col-md mainSubject p-2 voleur">
                        <a href="/Enfant/Detail/@enfants[i].EnfantId">
                            <h1 style="margin-left: 22px;">@enfants[i].Nom</h1>
                            <h4 style="margin-left: 23px; color:white;">@enfants[i].NbrCompetences Compétences</h4>
                            <div class="img-text-container">
                                <img src="@enfants[i].ImageURL" alt="@enfants[i].Nom"
                                 class="col mainImages voleurImg" style="width: 90%;">
                            </div>
                        </a> <!--MAGE-->
                    </div>
                   
                }
                 if (i % 3 == 2 || i == enfants.Count() - 1)
                    {
                        @:</div>
                    }
            }

        </div>
         <div class="col" style="margin:auto;">

         </div>


        <div class="col-md-2 h-auto colRecherche d-none d-md-block ">

            <h2 class="recherche" style="padding-top: 50px; padding-left: 10px;">
                RECHERCHER
            </h2>
            <form action="/Enfant/Filtrer" method="POST">
                <input type="text" name="MotsCles" value="@Model.Criteres.MotsCles">
                <h4 class="recherche" style="padding-top: 50px; width: 100%; ">Nombre de compétences</h4>
                <input type="number" style="max-width: 40%;" name="NbrCompMin" value="@Model.Criteres.NbrCompMin"> <input type="number" class="text-end" style="max-width: 40%; margin-left: auto;" name="NbrCompMax" value="@Model.Criteres.NbrCompMax">

                <h4 class="recherche" style="padding-top: 50px; ">habileté vedette</h4>
                <select id="choixBig" name="ChoixHabileteVedette" style="width: 100%;" value="@Model.Criteres.ChoixHabileteVedette">


                    @if (Model.Criteres.ChoixHabileteVedette == "either")
                    {
                        <option value="either" selected>Peu importe</option>
                    }
                    else
                    {
                        <option value="either">Peu importe</option>
                    }
                    @if (Model.Criteres.ChoixHabileteVedette == "oui")
                    {
                        <option value="oui" selected>Oui</option>
                    }
                    else
                    {
                        <option value="oui">Oui</option>
                    }
                    @if (Model.Criteres.ChoixHabileteVedette == "non")
                    {
                        <option value="non" selected>Non</option>
                    }
                    else
                    {
                        <option value="non">Non</option>
                    }

                </select>
                <h4 class="recherche" style="padding-top: 50px; ">Classe</h4>

                @if (@Model.Criteres.EstMage)
                {
                    <input type="checkbox" checked name="EstMage" value="true" class="form-check-input">
                }
                else
                {
                    <input type="checkbox" name="EstMage" value="true" class="form-check-input">
                }
                <label for="mage">
                    Mage
                </label><br>
                @if (@Model.Criteres.EstGuerrier)
                {
                    <input type="checkbox" checked name="EstGuerrier" value="true" class="form-check-input">
                }
                else
                {
                    <input type="checkbox" name="EstGuerrier" value="true" class="form-check-input">
                }
                <label for="fighter">
                    Guerrier
                </label><br>
                @if (@Model.Criteres.EstVoleur)
                {
                    <input type="checkbox" checked name="EstVoleur" value="true" class="form-check-input">
                }
                else
                {
                    <input type="checkbox" name="EstVoleur" value="true" class="form-check-input">
                }
                <label for="thief">
                    Voleur
                </label>
                <br>
                <div class="d-md-none d-xxl-block">
                    <button type="reset" class="bouton" style="background-color: grey; ">Effacer</button> 
                    <button type="submit" class="bouton" style="margin-left: 50px; background-color: cornflowerblue; "> Rechercher</button>
                        
                </div>
                <div class=" d-md-block d-xxl-none">
                    <button type="reset" class="bouton" style="background-color: grey; ">Effacer</button> <br>
                    <button type="submit" class="bouton" style=" background-color: cornflowerblue;"> Rechercher</button>
                </div>
                <br />
                <br />
                <h5>Nombre d'habiletés correspondantes: </h5>
                <h3 style="color:cornflowerblue">@enfants.Count()</h3>


            </form>

        </div>



    </div>

</main>